<link rel="stylesheet" href="../css/widget-header.css">
<div class="widget-edit-container">
    <form>
        <div class="form-group">
            <div class="col-sm-12">
                <div class="row">
                    <!--<label for="widgetName">Name</label>
                    <input ng-model="model.widget.name" type="text" id="widgetName" class="form-control"><br>-->
                    <label for="widgetText">Text</label>
                    <input ng-model="model.widget.text" type="text" id="widgetText" class="form-control"><br>
                    <label for="widgetSize">Size</label>
                    <input ng-model="model.widget.size" type="text" id="widgetSize" class="form-control" placeholder="3"><br>
                    <a ng-click="model.deleteWidget(model.widget._id)"
                       class="btn btn-danger btn-block">Delete</a>
                </div>
            </div>
        </div>
    </form>
</div>
