<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Choose Widget</title>
    <link rel="stylesheet" href="../css/widget-chooser.css">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-inner">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/"
                   class="glyphicon glyphicon-chevron-left glyphi"></a>
            </p>
            <a class="navbar-brand" href="#">Choose Widget</a>
            <p class="navbar-text pull-right">
                <a href="#" class="glyphicon glyphicon-plus glyphi"></a>
            </p>
        </div>
    </div>
</nav>
<div class="website-list-container">
    <div class="list-group">
        <div class="col-sm-12">
            <div class="row">
                <a href ng-click="model.createNew('HEADER')" class="list-group-item">Header
                </a>
                <a href="#" class="list-group-item">Lable
                </a>
                <a href ng-click="model.createNew('HTML')" class="list-group-item">HTML
                </a>
                <a href="#" class="list-group-item">
                    Text Input
                </a>
                <a href="#" class="list-group-item">Link
                </a>
                <a href="#" class="list-group-item">Button
                </a>
                <a href ng-click="model.createNew('IMAGE')" class="list-group-item">Image
                </a>
                <a href ng-click="model.createNew('YOUTUBE')" class="list-group-item">
                    YouTube
                </a>
                <a href="#" class="list-group-item">Data Table
                </a>
                <a href="#" class="list-group-item">Repeater
                </a>
            </div>
        </div>
    </div>

</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-inner">
            <div class="col-sm-12">
                <div class="row">
                    <p id="navbar-text-footer" class="navbar-text pull-right">
                        <a href="#/user/{{model.userId}}" id="glyphi-foot" class="glyphicon glyphicon-user glyphi-1"></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</nav>
</body>
</html>