<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Pages</title>
    <link rel="stylesheet" href="../css/page-list.css">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-inner">
                    <p class="navbar-text pull-left">
                        <a href="#/user/{{model.userId}}/website" class="glyphicon glyphicon-chevron-left glyphi"></a>
                    </p>
                    <a class="navbar-brand" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">Pages</a>
                    <p class="navbar-text pull-right">
                        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new" class="glyphicon glyphicon-plus glyphi"></a>
                    </p>
            </div>
    </div>
</nav>
<div class="website-list-container">

    <div class="col-sm-12">
        <div class="row">
            <div ng-show="model.pageListError" class="alert alert-danger" role="alert">{{model.pageListError}}</div>
            <div ng-repeat="page in model.pages" class="list-group">

                <a class="list-group-item">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">{{page.name}}</a>
                    <p class="pull-right">
                        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}"
                           class="glyphicon glyphicon-cog glyphi-1"></a>
                    </p>
                </a>

            </div>
        </div>
    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-inner">
            <div class="col-sm-12">
                <div class="row">
                    <p class="navbar-text pull-right">
                        <a href="#/user/{{model.userId}}" class="glyphicon glyphicon-user glyphi-2"></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</nav>

</body>
</html>