<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>New Page</title>
    <link rel="stylesheet" href="../css/page-new.css">
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-inner">
            <div class="col-sm-12">
                <div class="row">
                    <p class="navbar-text pull-left">
                        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="glyphicon glyphicon-chevron-left glyphi"></a>
                    </p>
                    <a id="website-list" class="navbar-brand" href="#">New Page</a>
                    <p class="navbar-text pull-right">
                        <a href ng-click="model.createPage(model.userId, model.websiteId, model.page)"
                           class="glyphicon glyphicon-ok glyphi"></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="new-page-container">
    <form>
        <div class="form-group">
            <div class="col-sm-12">
                <div class="row">
                    <label for="pageName">Page Name</label>
                    <input ng-model="model.page.name" type="text" id="pageName" class="form-control" placeholder="Page Name"><br>
                    <label for="pageTitle">Title</label>
                    <textarea ng-model="model.page.description" id="pageTitle" class="form-control" placeholder="Page Title" rows="5"></textarea><br>
                </div>
            </div>
        </div>
    </form>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-inner">
            <div class="col-sm-12">
                <div class="row">
                    <p class="navbar-text pull-right">
                        <a href="#/user/{{model.userId}}" class="glyphicon glyphicon-user glyphi-1"></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</nav>
</body>
</html>