<div class="widget-edit-container">
    <form>
        <div class="form-group">
            <div class="col-sm-12">
                <div class="row">
                    <!--<label for="widgetName">Name</label>
                    <input ng-model="model.widget.name" type="text" id="widgetName" class="form-control" placeholder="Widget Name"><br>
                    <label for="widgetText">Text</label>
                    <input ng-model="model.widget.text" type="text" id="widgetText" class="form-control" placeholder="Widget Text"><br>-->
                    <label for="widgetURL">URL</label>
                    <input ng-model="model.widget.url" type="text" id="widgetURL" class="form-control" placeholder="http://youtube.com"><br>
                    <label for="width">Width</label>
                    <input ng-model="model.widget.width" type="text" id="width" class="form-control" placeholder="100%"><br>
                    <a ng-click="model.deleteWidget(model.widget._id)"
                       class="btn btn-danger btn-block">Delete</a>
                </div>
            </div>
        </div>
    </form>
</div>
