.navbar {
    /*background-color: #0083c3;*/
}

.navbar-default .navbar-brand {
    color: black;
}

.navbar-default .navbar-text {
    color: black;
}

/*footer text*/
#navbar-text-footer{
    color: #0083c3;
}

.new-page-container{
    margin-top: 65px;
    margin-right: 40px;
    margin-left: 30px;
}

.navbar-inner{
    margin-right: 16px;
}


a.list-group-item{
    color: #0083c3;
    margin-right: 15px;
}