.container{
    height: auto;
}

.navbar {
    background-color: #0083c3;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-text {
    color: white;
}

@media screen and (min-width: 0px) and (max-width: 844px){

    #glyphi-head, #glyphi-foot{
        margin-right: 3px;
    }

    body {
        padding-top: 105px;
    }
}

@media screen and (min-width: 845px) {

    #glyphi-head, #glyphi-foot {
        margin-right: -15px;
    }
    body {
        padding-top: 65px;
    }
}