.container{
    height: auto;
}

.navbar {
    background-color: #0083c3;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-text {
    color: white;
}

.navbar-inner{
    margin-right: 15px;
}

@media screen and (min-width: 0px) and (max-width: 844px){

    #glyphi-head, #glyphi-foot{
        margin-right: 3px;
    }

    body {
        padding-top: 105px;
    }
    .navbar-inner{
        display: inline;
    }
}


@media screen and (min-width: 845px) {

    #glyphi-head, #glyphi-foot {
        margin-right: -15px;
    }
    body {
        padding-top: 65px;
    }

    .navbar-inner{
        display: inline;
    }
}
