.navbar {
    background-color: #0083c3;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-text {
    color: white;
}

.navbar-inner{
    display: inline;
}


.website-combined-view{
    display: inline;
}

#website-new{
    margin-left: 0.2%;
}

/*.verticalLine {
    border-left: thick solid black;
    height: inherit;
}*/
.combined-new-container{
    display: inline;
}


.website-container{
    /*height: inherit;
    margin-top: 90px;
    margin-left: 10px;*/
    display: inline;
    height:inherit;
}



#edit-website-container{
    margin-top: 65px;
    /*border-left: thin solid black;*/
    /*border-color: black;*/
    /*margin-left: 10px;*/
}

.sidebar {
    display: none;
}
@media (min-width: 400px) {
    .sidebar {
        position:absolute;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 180px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        /*background-color: #f5f5f5;*/
        border-right: 1px solid black;
    }
}


#website-list-div{
    /*border-left: darkblue;*/
}

.list-group{
    margin-top: 65px;
    margin-left: 20px;
    display: block;
}

a.list-group-item{
    color: #0083c3;
    margin-right: 15px;
    border: none;
}

.glyphi{
    color: white;
}