.navbar {
    /*background-color: #0083c3;*/
}

.navbar-default .navbar-brand {
    color: black;
}

.navbar-default .navbar-text {
    color: black;
}

.content-container{
    margin-top: 65px;
    margin-right: 37px;
    margin-left: 30px;
}

#glyphi-div{
    display: inline;
}

.widget-title{
    display: inline;
}

.navbar-inner{
    margin-right: 15px;
}

#navbar-text-footer{
    color: #0083c3;
}


a.list-group-item{
    color: #0083c3;
    margin-right: 15px;
    border: none;
}


/* eye glyphi */
#glyphi-left{
    margin-left: 5px;
}

.content-container{
    margin-top: 65px;
    display: inline;
}

/* widget title*/
.list-group{
    display: inline;
}
